body{
    font-family: 'Montserrat';
}
.navbar{
    background-color: #171717;
}

.nav-item{
    margin-right: 20px;
    font-weight: 200;
}
.nav-item.active a{
    color:#F9B234 !important ;
    font-weight: 600;
}
.nav-link span{
    color: #F9B234;
    font: 600;
}
.carousel{
    height: 450px;
    background-color: #171717;
    color: white;
}
.d-block{
    height: 20rem;
    width: 10rem;
    
}
.carousel h1{
    font-family: 'lora';
}
.carousel p{
    font-weight: 200;
}