body{
    font-family: 'Montserrat';
}
.navbar{
    background-color: #171717;
}

.nav-item{
    margin-right: 20px;
    font-weight: 200;
}
.nav-item.active a{
    color:#F9B234 !important ;
    font-weight: 600;
}
.nav-link span{
    color: #F9B234;
    font: 600;
}
.carousel{
    height: 450px;
    background-color: #171717;
    color: white;
}
.d-block{
    height: 20rem;
    width: 10rem;
    
}
.carousel h1{
    font-family: 'lora';
}
.carousel p{
    font-weight: 200;
}
.features h3, .disainer h3{
    font-family: 'lora';
    color: #1b2690;
    font-weight: bold;
}
.features p, .disainer p, footer p{
    font-weight: 200;
    color: #B7B7B7;
}
.figure h5{ 
    color: #171717;
}
.figure-img{
    position: relative;
}
.figure-img a{
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0.5em;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}
.figure-img:hover a{
    opacity: 1;
}
.footer img{
    width: 5rem;
    height: 5rem;
}